<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.booking.mapper.BookingMapper">

	<insert id="insertBooking">
		INSERT INTO
			`booking`
		(			
			`name`
			, `date`
			, `day`
			, `headcount`			
			, `phoneNumber`	
			, `state`		
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{date}
			, #{day}
			, #{headcount}		
			, #{phoneNumber}	
			, #{state}		
			, now()
			, now()
		)	
	</insert>

	<select id="selectBookingList">
		SELECT
			`id`
			, `name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
		FROM
			`booking`	
	</select>
	
	<select id="selectBookingByNamePhoneNumber">
		SELECT
				*
		FROM
			`booking`
		WHERE
			`name` = #{name}
		AND
			`phoneNumber` = #{phoneNumber} 		
	</select>
	

	
	<delete id="deleteBooking">
		DELETE FROM
			`booking`
		WHERE
			`id`= #{id}	
	</delete>
</mapper>